.MarketQuantity {
  color: white;
  padding: 0;
  position: relative;
  width: 150px !important;
}

.MarketQuantity-qty {
  padding: 0 8px;
  z-index: 1;
}

.vuuBid {
  --quantity-color: rgb(1, 124, 177);
}

.vuuOffer {
  --quantity-color: rgb(226, 52, 52);
}

.MarketQuantity-pct {
  offset: 0 auto 0 0;
  background-color: var(--quantity-color);
  height: 100%;
  position: absolute;
  transition: width linear 100ms;
}
